.menubar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 10px 20px;

  box-shadow: 0 2px 4px rgba(0,0,0,.3);
  }
.menubar img {
  height: 18px;
}
.menubar a {
  text-decoration: none;
  color: #777;
}
